* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.content{
    margin-right: auto;
    margin-left: auto;
    width: calc(100% - (10 * var(--offset)));
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --spacing: 1rem;
    --max-width: 1400px;
    --color-primary: #f0f0f8;
    --color-header: #fff;
    --color-text: #000;
    --color-border: #ccc;

    /* Letur stillingar */
    --font-base-body-px: 16px;
    --font-base-size: 1rem;
    --font-family-base:
            "Nunito", Helvetica, Arial, sans-serif;
    --font-family-heading:
            "Domine", Georgia, serif;

    /* Grid stillingar */
    --columns: 12;
    --gutter: 30px;
    --offset: 20px;
}

/* LeturgerÃƒÂ°ir */

@font-face {
    font-family: 'Domine';
    font-style: normal;
    font-display: swap;
    src: url(./fonts/domine.ttf) format('woff');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-display: swap;
    src: url(./fonts/nunito.ttf) format('woff');
}

header{
    margin: 0 auto;
    padding: 0;
    background-color: #3c26cc;
    min-height: 100px;
    margin-bottom: 5rem;
    display:flex;
    justify-content: space-around;
    color: white;
    align-items: center;

}

header >form{
    display: flex;
    flex-direction: row;
}

header >form >input{
    min-width: 100px;
}

.headerLogo{
    max-width:150px;
    filter: invert(100%)
}

h1{
    font-family: var(--font-family-heading);
    text-align: center;
}
body{
    font-family: var(--font-family-base);
    text-align: center;
}


.logo{
    max-width: 600px;
    width: 60%;
    min-width: 300px;
}

form{
    font-family: var(--font-family-base);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gutter);
    padding: 1rem 1rem;
}
form > div{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
header input{
    position: relative;
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: white;
}

input {
    position: relative;
    height: 50px;
    width: 50px;
}

form >div >label{
    margin-top: 10px;
    font-size: 25px;
}

.searchbar {
    position: relative;
    display: flex;
    max-width: 500px;
    align-self: center;
    align-items: center;

    padding-top: 6rem;
    filter: drop-shadow(0px 2px 4px #c7c7c7);

}

.search-icon {
    position: absolute;
    top: 112px;
    left: 23px;
    width: 18px;
    z-index: 1;
    filter: invert(100%)


}

.input-size{
    font-family: var(--font-family-base);

    width: 100%;
    border: 0;
    border-radius: 50px;
    background-color: #3c26cc;
    color: white;
    padding-left: 4rem;
    padding-right: 12rem;

}


.input-size:hover, .input-size:focus {
    background-color: #2200ffa8;
}

.allSearchResults{
    padding-top: 2rem;

}
.searchResult{
    margin: 0rem 3rem;

}

.searchResult >a{
    text-align: left;
    display: flex;
    border-bottom: solid;
    border-color: lightgrey;
    gap: 1rem;
    font-size: 16px;
    color: black;
    text-decoration: none;

    padding: 0.8rem;
}

.searchResult>a:hover, .searchResult>a:focus {
    padding: 1.5rem;

    border: 0;
    background-color: white;
    filter: drop-shadow(0px 2px 4px #c7c7c7);
}

.extraInfo{
    display: flex;
    flex-direction: row;
}

.extraInfo >p{
    padding: 0;
    margin: 0;
    margin-right: 2rem;
    font-size: 14px;
}

.courseId{
    background-color: #3c26cc;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    width: 12%;
    min-width: 110px;
    text-align: center;
}

::placeholder {
    color: white;
}

.searchsubmit{
    font-family: var(--font-family-base);
    border-radius: 5px;
    width: 5rem;
}

.information{
    display: flex;
    flex-direction: column;
    text-align: left;
}

form button{
    font-family: var(--font-family-base);
    width: 15%;
    min-height: 60px;
    font-size: 20px
}
.username{
    font-size: 30px;
    padding-bottom: 1rem;
    text-decoration: underline;
}

.reviews{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.review{
    padding: 1rem;
    border: solid;
    border-color: lightgray;
    margin: 1rem;
    border-radius: 5px;
    background-color: lightgray
}

.statistics{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.statistics > div{
    display: flex;
    flex-direction: column;
    font-variant: small-caps;
}

.statistics > div > label{
    order: 1;
}

.statistics > div > p{
    font-size: 50px;
    margin: 0 auto;
}

.rating{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rating >div{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.deleteReview{
    border: solid 2px black;
    border-radius: 50%;
    font-size: x-large;
}

.deleteReview:hover{
    font-size: large;
    background-color: lightgrey;
}

.comment{
    padding: 1rem;
    border: solid;
    border-color: lightgray;
    margin: 1rem;
    border-radius: 5px;
    margin: 0 auto;
    text-align: left;
    background-color: white
}

.CourseHeader{

}