* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.content{
    margin-right: auto;
    margin-left: auto;
    width: calc(100% - (10 * var(--offset)));
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --spacing: 1rem;
    --max-width: 1400px;
    --color-primary: #f0f0f8;
    --color-header: #fff;
    --color-text: #000;
    --color-border: #ccc;

    /* Letur stillingar */
    --font-base-body-px: 16px;
    --font-base-size: 1rem;
    --font-family-base:
            "Nunito", Helvetica, Arial, sans-serif;
    --font-family-heading:
            "Domine", Georgia, serif;

    /* Grid stillingar */
    --columns: 12;
    --gutter: 30px;
    --offset: 20px;
}

/* LeturgerÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â°ir */

@font-face {
    font-family: 'Domine';
    font-style: normal;
    font-display: swap;
    src: url(./fonts/domine.ttf) format('woff');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-display: swap;
    src: url(./fonts/nunito.ttf) format('woff');
}

header{
    margin: 0 auto;
    padding: 0;
    background-color: #3c26cc;
    min-height: 100px;
    margin-bottom: 5rem;
    display:flex;
    justify-content: space-around;
    color: white;
    align-items: center;

}

header >form{
    display: flex;
    flex-direction: row;
}

header >form >input{
    min-width: 100px;
}

.headerLogo{
    max-width:150px;
    filter: invert(100%)
}

h1{
    font-family: var(--font-family-heading);
    text-align: center;
}
body{
    font-family: var(--font-family-base);
    text-align: center;
}


.logo{
    max-width: 600px;
    width: 60%;
    min-width: 300px;
}

form{
    font-family: var(--font-family-base);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gutter);
    padding: 1rem 1rem;
}
form > div{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
header input{
    position: relative;
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: white;
}

input {
    position: relative;
    height: 50px;
    width: 50px;
}

form >div >label{
    margin-top: 10px;
    font-size: 25px;
}

.searchbar {
    position: relative;
    display: flex;
    max-width: 500px;
    align-self: center;
    align-items: center;
    padding-top: 6rem;
    filter: drop-shadow(0px 2px 4px #c7c7c7);

}
.radioReview{
    opacity: 0;
}

.radioInput{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.radioInput >label{
    display: block;
    cursor: pointer;
    width: 40px;
    margin-right:2rem;
    margin-bottom: 4rem;
}


.radioInput >label:before {
    font-size: 50px;
    position: absolute;
    content: '';
    padding: 2rem;
    border: 2px solid black;
    border-radius: 50%;
}

.radioInput >label:after {
    font-size: 50px;
    content: '';
    padding: 2rem;
    border: 2px solid #3c26cc;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    background-image: radial-gradient(#3c26cc 40%, white 43%);
}



label:hover ~ label:after, label:hover:after{
    opacity: 1;
}

input:checked ~ label:after{
    opacity:1;

}


.search-icon {
    position: absolute;
    top: 112px;
    left: 23px;
    width: 18px;
    z-index: 1;
    filter: invert(100%)


}

.input-size{
    font-family: var(--font-family-base);

    width: 100%;
    border: 0;
    border-radius: 50px;
    background-color: #3c26cc;
    color: white;
    padding-left: 4rem;
    padding-right: 12rem;

}


.input-size:hover, .input-size:focus {
    background-color: #2200ffa8;
}

.resultsAndFilter{
    width:100%;
    display: flex;


}

.allSearchResults{
    width: 100%;
    padding-top: 2rem;
    align-self: flex-start;
    order:-1;

}
.searchResult{
    margin: 0rem 3rem;

}

.searchResult >a{
    text-align: left;
    display: flex;
    border-bottom: solid;
    border-color: lightgrey;
    gap: 1rem;
    font-size: 16px;
    color: black;
    text-decoration: none;

    padding: 0.8rem;
}

.searchResult>a:hover, .searchResult>a:focus {
    padding: 1.5rem;

    border: 0;
    background-color: white;
    filter: drop-shadow(0px 2px 4px #c7c7c7);
}

.searchResult:hover .extraInfo {
    hidden: none;
}

.extraInfo{
    display: flex;
    flex-direction: row;
    padding-top: 3px;
}

.extraInfo >p{
    padding: 0;
    margin: 0;
    margin-right: 2rem;
    font-size: 14px;
}

.courseId{
    background-color: #3c26cc;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    width: 12%;
    min-width: 110px;
    max-height: 60px;
    align-self: center;

    text-align: center;
}

::placeholder {
    color: white;
}

.searchsubmit{
    font-family: var(--font-family-base);
    border-radius: 5px;
    width: 5rem;
}


.viewCourseMain{
    padding: 0rem 4rem;
}

h1 > a{
    text-decoration: none;
    color:  #3c26cc;
    font-size: xxx-large;
}

.information{
    display: flex;
    flex-direction: column;
    text-align: left;
}


.information >div{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}

.information >div >p{
    margin: 0rem 2rem;
}

form button{
    font-family: var(--font-family-base);
    width: 15%;
    min-height: 60px;
    font-size: 20px
}

.reviews{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.review{
    padding: 1rem;
    border: solid;
    border-color: lightgray;
    margin: 1rem;
    border-radius: 5px;
    background-color: lightgray
}

.statistics{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.statistics > div{
    display: flex;
    flex-direction: column;
    font-variant: small-caps;
}

.statistics > div > label{
    order: 1;
}

.statistics > div > p{
    font-size: 50px;
    margin: 0 auto;
}

.rating{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rating >div{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.reviewHeader{
    display:flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.invisible{
    visibility: hidden;
}

.username{
    font-size: 30px;
    text-decoration: underline;
}

.reviewButton {
    position: relative;
    align-self: center;
    margin: 1rem;
    padding: 1rem;
    border: solid 2px black;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    background-color: lightgrey;
    font-variant: all-small-caps;
    font-size: larger;
}

.reviewButton:hover {
    background-color: black ;
    color: white;
}

#loggedOut {
    background-color: lightgrey;
    color: grey;
    border: solid 2px darkgrey;
}


#loggedOut:before{
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 0.2s ease-in-out;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
}

#loggedOut:hover:before {
    opacity: 1;
    visibility: visible;
}


.deleteForm{
    padding: 0;
    margin: 0;
}

.deleteReview{
    width: 25px;
    height: 25px;
    border: solid 2px black;
    border-radius: 50%;
    background-color: lightgrey;
}

.deleteReview:hover{
    background-color: black;
    color: white;
}

.comment{
    padding: 1rem;
    border: solid;
    border-color: lightgray;
    margin: 1rem;
    border-radius: 5px;
    margin: 0 auto;
    text-align: left;
    background-color: white
}

.CourseHeader{

}


.filters {
    height: 680px;
    width: 30%;
    top: 10%;
    right: 5%;
    margin-left: 5rem;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    z-index: 2;
    background-color: #3c26cc;
    gap: 15px;
    padding: 20px 20px;
    border-radius: 10px;
    color: white;
}



.filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

}


.filter p {
    width: 130px;
    text-align: start;
    align-self: flex-start;

}
.filter input {
    width: 80px;
}

.typeFilter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.typeFilter >div{
    width: 70%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.typeFilter >div >input {
    min-width: 20px;
    min-height: 20px;
    width: 20px;
    height: 20px;

}

.mix {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.range_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-right:2rem;
}


.form_control_container__time{
    visibility: hidden;
    content:"";
    height: 0px;
}


.sliders_control {
    display: flex;
    min-width: 200px;
    width: 100%;
    align-items: flex-end;
    padding: 1rem;
}


input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
    position: relative;
    z-index: 4;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:hover {
    background: #ececec;
}

input[type=range]::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
    -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

input[type="number"] {
    color: #8a8383;
    width: 50px;
    height: 30px;
    font-size: 20px;
    border: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 2px;
    width: 45%;
    position: absolute;
    background-color: #C6C6C6;
    pointer-events: none;
}

