<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rate HÍ</title>
    <link th:href="@{/styles/css/styles.css}" rel="stylesheet" />
</head>
<body>
    <h1>Rate HÍ</h1>
    <div>
        <h2>Search for a course</h2>
        <form action="#" th:action="@{/searchcourses}" method="post">
            <label for="name">Course name</label>
            <div class="searchbar">
                <input name="name" type="text" id="name" placeholder="Search" class="input-size"/>
                <input type="submit" value="Search" class="searchsubmit">
            </div>

        </form>
    </div>
</body>
</html>