<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<header>
    <a th:href="@{/}">
        <img class="headerLogo" th:src="@{/images/reit_hi_logo_secondary.svg}"/>
    </a>
    <form th:if="${session.LoggedInUser == null}" action="#" th:action="@{/login}" modelAttribute="user" method="post">
        <input type="text" name="userName" id="userNameL" field="*{user.userName}" required/>
        <input type="password" name="password" id="passwordL" placeholder="pass" required/>
        <input type="submit" value="Log in"/>
        <input type="submit" value="Sign up" th:formaction="@{/signup}"/>
    </form>

    <p class="loggedInUser" th:if="${session.LoggedInUser != null}" , th:text="${session.LoggedInUser.userName}"></p>
    <!--
    <form action="#" th:action="@{/logout}" method="get">
        <input th:if="${session.LoggedInUser != null}" type="submit" value="Log out"/>
    </form>
        <p class="loggedInUser" th:unless="${session.LoggedInUser != null}", th:text="Login"></p>
    <p>login</p>
    -->

</header>

<main>

    <h1 th:text="${session.selectedCourse.name}"></h1>

    <form action="#" th:action="@{/addreview}" method="post">

        <div th:object="${course}">
            <label>Overall Score</label><br/>
            <div class="radioInput">
                <!--<input type="radio" class="radioReview" field="${overallScore}" name="overallScore" value=1>
                <input type="radio" class="radioReview" field="*{overallScore}" name="overallScore" value=2>
                <input type="radio" class="radioReview" field="*{overallScore}" name="overallScore" value=3>
                <input type="radio" class="radioReview" field="*{overallScore}" name="overallScore" value=4>
                <input type="radio" class="radioReview" field="*{overallScore}" name="overallScore" value=5>-->
                <input type="radio" class="radioReview" id="score1" field="*{overallScore}" name="overallScore"
                       value=5 required>
                <label for="score1"></label>
                <input type="radio" class="radioReview" id="score2" field="*{overallScore}" name="overallScore"
                       value=4>
                <label for="score2"></label>
                <input type="radio" class="radioReview" id="score3" field="*{overallScore}" name="overallScore"
                       value=3>
                <label for="score3"></label>
                <input type="radio" class="radioReview" id="score4" field="*{overallScore}" name="overallScore"
                       value=2>
                <label for="score4"></label>
                <input type="radio" class="radioReview" id="score5" field="*{overallScore}" name="overallScore"
                       value=1>
                <label for="score5"></label>
                <br/>
            </div>
        </div>

        <div th:object="${course}">
            <label>Difficulty</label><br/>
            <div class="radioInput">
                <input type="radio" class="radioReview" id="difficulty1" field="*{difficulty}" name="difficulty"
                       value=5 required>
                <label for="difficulty1"></label>
                <input type="radio" class="radioReview" id="difficulty2" field="*{difficulty}" name="difficulty"
                       value=4>
                <label for="difficulty2"></label>
                <input type="radio" class="radioReview" id="difficulty3" field="*{difficulty}" name="difficulty"
                       value=3>
                <label for="difficulty3"></label>
                <input type="radio" class="radioReview" id="difficulty4" field="*{difficulty}" name="difficulty"
                       value=2>
                <label for="difficulty4"></label>
                <input type="radio" class="radioReview" id="difficulty5" field="*{difficulty}" name="difficulty"
                       value=1>
                <label for="difficulty5"></label>
                <br/>
            </div>
        </div>

        <div th:object="${course}">
            <label>Workload</label><br/>
            <div class="radioInput">
                <input type="radio" class="radioReview" id="workload1" field="*{workload}" name="workload"
                       value=5 required>
                <label for="workload1"></label>
                <input type="radio" class="radioReview" id="workload2" field="*{workload}" name="workload"
                       value=4>
                <label for="workload2"></label>
                <input type="radio" class="radioReview" id="workload3" field="*{workload}" name="workload"
                       value=3>
                <label for="workload3"></label>
                <input type="radio" class="radioReview" id="workload4" field="*{workload}" name="workload"
                       value=2>
                <label for="workload4"></label>
                <input type="radio" class="radioReview" id="workload5" field="*{workload}" name="workload"
                       value=1>
                <label for="workload5"></label>
                <br/>
            </div>
        </div>

        <div th:object="${course}">
            <label>Teaching Quality</label><br/>
            <div class="radioInput">
                <input type="radio" class="radioReview" id="TQ1" field="*{teachingQuality}"
                       name="teachingQuality" value=5 required>
                <label for="TQ1"></label>
                <input type="radio" class="radioReview" id="TQ2" field="*{teachingQuality}"
                       name="teachingQuality" value=4>
                <label for="TQ2"></label>
                <input type="radio" class="radioReview" id="TQ3" field="*{teachingQuality}"
                       name="teachingQuality" value=3>
                <label for="TQ3"></label>
                <input type="radio" class="radioReview" id="TQ4" field="*{teachingQuality}"
                       name="teachingQuality" value=2>
                <label for="TQ4"></label>
                <input type="radio" class="radioReview" id="TQ5" field="*{teachingQuality}"
                       name="teachingQuality" value=1>
                <label for="TQ5"></label>
                <br/>
            </div>
        </div>

        <div th:object="${course}">
            <label>Course Material</label><br/>
            <div class="radioInput">
                <input type="radio" class="radioReview" id="CM1" field="*{courseMaterial}" name="courseMaterial"
                       value=5 required>
                <label for="CM1"></label>
                <input type="radio" class="radioReview" id="CM2" field="*{courseMaterial}" name="courseMaterial"
                       value=4>
                <label for="CM2"></label>
                <input type="radio" class="radioReview" id="CM3" field="*{courseMaterial}" name="courseMaterial"
                       value=3>
                <label for="CM3"></label>
                <input type="radio" class="radioReview" id="CM4" field="*{courseMaterial}" name="courseMaterial"
                       value=2>
                <label for="CM4"></label>
                <input type="radio" class="radioReview" id="CM5" field="*{courseMaterial}" name="courseMaterial"
                       value=1>
                <label for="CM5"></label>
                <br/>
            </div>
        </div>

        <div th:object="${comment}">
            <label>Additional Comments:</label>
            <textarea rows="5" cols="25" field="${comment.text}" name="text"></textarea>
        </div>
        <div>
            <button class=reviewButton type="submit"
                    th:if="${ session.LoggedInUser != null && !session.hasReviewedCourse}">Submit Review
            </button>
            <a class=reviewButton id="loggedOut" data-hover="Must be logged in to perform this action"
               th:unless="${ session.LoggedInUser != null}">Submit Review</a>
        </div>
    </form>

</main>
</body>
</html>