<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{styles/styles.css}" rel="stylesheet" />
</head>
<body>
<h1 th:text="${session.selectedCourse.name}"> </h1>

<form action="#" th:action="@{/addreview}" method="post" >

    <div th:object="${course}">
       <label>Overall Score</label><br/>
       <div class="radioInput">
           <input type="radio" field="${rating.overallScore}" name="overallScore" value=1 />
           <input type="radio" field="*{rating.overallScore}" name="overallScore" value=2 />
           <input type="radio" field="*{rating.overallScore}" name="overallScore" value=3 />
           <input type="radio" field="*{rating.overallScore}" name="overallScore" value=4 />
           <input type="radio" field="*{rating.overallScore}" name="overallScore" value=5 /><br/>
       </div>
    </div>

    <div th:object="${course}">
      <label>Difficulty</label><br/>
      <div class="radioInput">
          <input type="radio" field="*{rating.difficulty}" name="difficulty" value=1 />
          <input type="radio" field="*{rating.difficulty}" name="difficulty" value=2 />
          <input type="radio" field="*{rating.difficulty}" name="difficulty" value=3 />
          <input type="radio" field="*{rating.difficulty}" name="difficulty" value=4 />
          <input type="radio" field="*{rating.difficulty}" name="difficulty" value=5 /><br/>
      </div>
    </div>

   <div th:object="${course}">
   <label>Workload</label><br/>
       <div class="radioInput">
           <input type="radio" field="*{rating.workload}" name="workload" value=1 />
           <input type="radio" field="*{rating.workload}" name="workload" value=2 />
           <input type="radio" field="*{rating.workload}" name="workload" value=3 />
           <input type="radio" field="*{rating.workload}" name="workload" value=4 />
           <input type="radio" field="*{rating.workload}" name="workload" value=5 /><br/>
       </div>
   </div>

   <div th:object="${course}">
       <label>Teaching Quality</label><br/>
       <div class="radioInput">
           <input type="radio" field="*{rating.teachingQuality}" name="teachingQuality" value=1 />
           <input type="radio" field="*{rating.teachingQuality}" name="teachingQuality" value=2 />
           <input type="radio" field="*{rating.teachingQuality}" name="teachingQuality" value=3 />
           <input type="radio" field="*{rating.teachingQuality}" name="teachingQuality" value=4 />
           <input type="radio" field="*{rating.teachingQuality}" name="teachingQuality" value=5 /><br/>
       </div>
   </div>

   <div th:object="${course}">
       <label>Course Material</label><br/>
       <div class="radioInput">
           <input type="radio" field="*{rating.courseMaterial}" name="courseMaterial" value=1 />
           <input type="radio" field="*{rating.courseMaterial}" name="courseMaterial" value=2 />
           <input type="radio" field="*{rating.courseMaterial}" name="courseMaterial" value=3 />
           <input type="radio" field="*{rating.courseMaterial}" name="courseMaterial" value=4 />
           <input type="radio" field="*{rating.courseMaterial}" name="courseMaterial" value=5 /><br/>
       </div>
   </div>

    <div th:object="${comment}">
        <label>Additional Comments:</label>
        <textarea rows="5" cols="25" field="${comment.text}" name="text"></textarea>
    </div>
 -->
    <div>
    <button type="submit">Register</button>
    </div>
</form>


</body>
</html>