<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rate HÍ</title>
</head>
<body>
<h1>Rate HÍ</h1>
<div>
    <h2>Search for a course</h2>
    <form action="#" th:action="@{/searchcourses}" method="post">
        <label for="name">Course name</label>
        <input name="name" type="text" id="name" placeholder="Search"/>
        <input type="submit" value="Search">
    </form>
</div>

<div>
    <h2 th:if="${courseSearchResults == null or courseSearchResults.empty}">No Courses found!</h2>
    <div th:unless="${courseSearchResults == null or courseSearchResults.empty}">
        <h2>Courses</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Credits</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="course : ${courseSearchResults}">
                <td>
                    <a th:href="@{/viewcourse/{id}(id=${course.ID})}">
                        <div th:text="${course.name}"></div>
                    </a>
                </td>
                <td th:text="${course.number}"></td>
                <td th:text="${course.credits}"></td>
                <td><a th:href="@{/delete/{id}(id=${course.ID})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/addcourse">Add a new course</a></p>
</div>

</body>
</html>