<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles/css/styles.css}" rel="stylesheet" />
</head>
<body>
    <div class='information'>
        <h1 th:text = "${selectedCourse.name}"></h1>
        <p th:text = "${selectedCourse.credits}"></p>
        <p th:text = "${selectedCourse.semester}"></p>
        <p th:text = "${selectedCourse.course_URL}"></p>
        <p th:text = "${selectedCourse.type}"></p>
        <p th:text = "${selectedCourse.semester}"></p>
        <p th:text = "${selectedCourse.level}"></p>
        <p th:text = "${selectedCourse.professor_Name}"></p>
        <p th:text = "${selectedCourse.professor}"></p>
        <p th:text = "${selectedCourse.assessment}"></p>
        <p th:text = "${selectedCourse.finalExam}"></p>
        <p th:text = "${selectedCourse.school}"></p>
        <p th:text = "${selectedCourse.faculty}"></p>
        <p th:text = "${selectedCourse.professor_Email}"></p>
        <p th:text = "${selectedCourse.professor_URL}"></p>
        <a th:href="@{/reviewcourse}">Review course</a>
    </div>
    <div class='statistics'>
        <label>Overall</label>
        <p th:text = "${avgOAS}"></p>
        <label>Difficulty</label>
        <p th:text = "${avgD}"></p>
        <label>Workload</label>
        <p th:text = "${avgW}"></p>
        <label>Teaching Quality</label>
        <p th:text = "${avgTQ}"></p>
        <label>Course Material</label>
        <p th:text = "${avgCM}"></p>
    </div>

    <div class='reviews'>
        <p th:if="${reviewsForCourse == null or reviewsForCourse.empty}">No Comments found!</p>
        <tr th:each="review : ${reviewsForCourse}">
            <div class = "review">
                <div class="username">
                    <td th:if="${review.user != null}", th:text="${review.user.userName}"></td>
                </div>
                <div class="rating">
                    <div>
                        <label>Overall rating</label>
                        <p th:text = "${review.rating.overallScore}"></p>
                    </div>
                    <div>
                        <label>Difficulty</label>
                        <p th:text = "${review.rating.difficulty}"></p>
                    </div>
                    <div>
                        <label>Work load</label>
                        <p th:text = "${review.rating.workload}"></p>
                    </div>
                    <div>
                        <label>Teaching quality</label>
                        <p th:text = "${review.rating.teachingQuality}"></p>
                    </div>
                    <div>
                        <label>Course material</label>
                        <p th:text = "${review.rating.courseMaterial}"></p>
                    </div>
                </div>
                <div class="comment">
                    <td th:text="${review.comment.text}"></td>
                </div>
            </div>
        </tr>
    </div>


</body>
</html>